{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'confirmar-voto.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@300&family=Righteous&family=Unica+One&display=swap" rel="stylesheet">
    <title>Votação</title>
</head>
<body>
    <div class="title">
         
        <h2>Parabéns  {{ user.username }} , pelo seu voto</h2>
        <form>
             
          <div class="user-box">
            
            <a href="{% url 'home' %}">Sair</button>
            <span></span>
            <span></span>
            <span></span>
            <span></span></a>
        </form>
      </div>
  </body>
</head>
</body>
</html>