html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#23014b, #8835a8);
  }
  h1{
    font-family: 'Oxanium', cursive;
    color: aliceblue;
    font-size: 170%;
    padding-left: 30%;
  }

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
}

.vote-btn {
    margin-bottom: 10px;
    padding: 30px 300px;
    font-size: 18px;
    border-radius: 5px;
    font-family: 'Oxanium', cursive;
}





