html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#23014b, #8835a8);
  }
  h1{
    font-family: 'Oxanium', cursive;
    color: #f79400da;
    font-size: 170%;
    padding-left: 30%;
    padding-top: 20px;
  }

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Oxanium', cursive;
    background-color: #f1f1f1;
    box-shadow: 0 2px 8px rgba(140, 74, 179, 0.15);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.vote-btn {
    margin-bottom: 10px;
    padding: 30px 300px;
    font-size: 18px;
    font-family: 'Oxanium', cursive;
    background: rgba(142, 37, 173, 0.452);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    color: aliceblue;
    border-radius: 10px;
}
@media screen and (max-width: 480px) {
    .vote-btn {
        padding: 12px 120px;
        font-size: 14px;
    }
}



